.checklist li {
    list-style-type: none;
    padding-left: 25px;
    position: relative;
}

.checklist li::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.checklist li.checked::before {
    background-image: url('images/vinkje.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.checklist li:not(.checked)::before {
    background-image: url('images/leegvakje.png');
    background-size: contain;
    background-repeat: no-repeat;
}
